# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Chaves SSH
*.pem
*.ppk
*.key

# Logs e diversos
*.log
.DS_Store